.sumary{
	background-color: #efefef;
	padding: 20px 50px;
	margin-bottom: 30px;
}

.language-javascript,.language-html,.language-css,.language-bash,.language-java{
	color: red;
	opacity:.5;
}

blockquote{
	color: blue;
}

